@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

main{
    font-family: 'Rubik', sans-serif;
}

.background{
    width : 60%;
    height: 50vh;
    border-radius: 0 0 90% 0;
    background : linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    margin-left : -10%;
}

